.education {
  position: relative;
  padding: 20px 0;
  input[type="date"] {
    width: 45%;
  }
}

.education .btn-edu {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: white;
  width: 100px;
}
