input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  display: block;
  width: 80%;
  height: 3em;
  border: none;
  border-bottom: 3px solid black;
  background-color: white;
  margin: 5px 0;
}
textarea {
  height: 100px;
}
label {
  font-size: 1.2em;
}
input[type="submit"] {
  background-color: lightskyblue;
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  &:hover {
    background-color: white;
  }
  &:active {
    background-color: greenyellow;
  }
}
